ChatBot Académico - GigaSystems 6.json
{
  "name": "ChatBot Académico - GigaSystems 6",
  "nodes": [
    {
      "parameters": {
        "content": "## ChatBot Academico - UTEG\nCreación de chatbot academico que sea capaz de atender solicitudes estudiantiles de manera automática, especialmente la gestión y emisión de certificados, proporcionando respuestas precisas, validaciones automáticas y orientaciones claras según la normativa universitaria.",
        "height": 176,
        "width": 448,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1072,
        -640
      ],
      "typeVersion": 1,
      "id": "cc955b66-214f-4169-8fd4-02aa9f9ee7bf",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Herramientas\n* Postgres como BD\n* SupaBase como herramienta para las validaciones\n* Implementación de IA (Open IA, Groq)\n* Api de PDFShift\n* Gmail - para enviar correos",
        "height": 304,
        "width": 192,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -816,
        -448
      ],
      "typeVersion": 1,
      "id": "b33b0503-d496-4327-abb5-a412cf01bc49",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "##  Solicitudes Básicas\nEl ChatBot responde preguntas como:\n* ¿Cómo solicito un certificado de matrícula?\n* ¿Qué requisitos tiene el certificado de notas?\n* ¿Cuánto demora una solicitud?\n* ¿Dónde descargo mis calificaciones?\n* ¿Dónde subo mis prácticas preprofesionales?",
        "height": 304,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1104,
        -448
      ],
      "typeVersion": 1,
      "id": "8a849723-d176-49a4-a996-79e0c3e284d9",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Estudiantes",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -496,
        -288
      ],
      "id": "46c761db-786a-414c-82a4-f112ddaa3f28",
      "name": "Webhook",
      "webhookId": "9a0eef17-3a65-4464-ad5b-274ccda6ad22"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -624,
        -64
      ],
      "id": "055c3f65-14b9-45b0-8d50-f04c2149f4ea",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "oXQGj1iRVByTnQpI",
          "name": "OpenAi account 3"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.mensaje }}",
        "options": {
          "systemMessage": "=Eres un asistente académico inteligente de universidad UTEG. Tu rol es responder preguntas académicas y guiar solicitudes de certificados de forma clara, amable y paso a paso.\n\nFUNCIONES PRINCIPALES:\n\n1. RESPONDE PREGUNTAS FRECUENTES (en texto plano):\n- \"¿Cómo solicito un certificado?\" → Explica que puede solicitarlo aquí mismo\n- \"¿Qué certificados existen?\" → Matrícula, Notas, Asistencia, No Adeudar, Prácticas\n- \"¿Cuánto demora?\" → Emisión automática e inmediata si cumple requisitos\n- \"¿Dónde descargar calificaciones?\" → solicitando el certificado de notas\n- \"¿Dónde subo prácticas?\" → Plataforma de Bienestar Estudiantil\n- \"¿Requisitos?\" → Estar matriculado y, según el certificado, tener deudas pagadas\n\n2. SOLICITUD DE CERTIFICADOS (paso a paso):\nPaso 1: Pregunta \"¿Desea solicitar un certificado?\" \nPaso 2: Solicita cédula (8-10 dígitos, validada)\nPaso 3: Pregunta qué tipo de certificado (Matrícula, Notas, Asistencia, No Adeudar, Prácticas)\nPaso 4: Confirma datos antes de procesar \nPaso 5: Si confirma, procesa y responde que se enviará al correo con la herramienta \"enviarcorreo_estudiante\"\n\n3. VALIDACIONES AUTOMÁTICAS:\n- Cédula: 8-10 dígitos, sin caracteres especiales\n- Tipo: Debe ser uno de los 5 tipos válidos\n- Estado: Verifica si el estudiante está activo (simulado)\n- Deudas: Indica si tiene saldo pendiente\n\n4. REGLAS DE SEGURIDAD:\n- Nunca proceses datos incompletos\n- Si el usuario da datos inválidos, pide corrección amable\n- Mantén conversación profesional pero cálida\n- Registra toda solicitud completada\n\n5. COMPORTAMIENTO:\n- Lenguaje claro y amable\n- Entiende variaciones de preguntas\n- Solicita un dato por vez (no abrumar)\n- Valida antes de procesar\n- Confirma antes de enviar"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -256,
        -288
      ],
      "id": "59f78764-e4da-4f70-ae42-df0be73b0373",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -448,
        -80
      ],
      "id": "0de8f48d-f216-462d-986d-92864445b308",
      "name": "Groq Test-1",
      "credentials": {
        "groqApi": {
          "id": "6n24cfWPTSJ8AHE2",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -288,
        -80
      ],
      "id": "4dc62220-2443-423a-991e-01b8f213e783",
      "name": "Postgres Chat",
      "credentials": {
        "postgres": {
          "id": "zx1dLftufV0G5tde",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "estudiantes",
        "filters": {
          "conditions": [
            {
              "keyName": "cedula",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"
            },
            {
              "keyName": "estado",
              "keyValue": "Activo"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -112,
        -64
      ],
      "id": "ae34d7f2-8584-4438-b24a-6447ffb92450",
      "name": "verificar_estudiantes",
      "credentials": {
        "supabaseApi": {
          "id": "30TaetHKdUj4ZELI",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "envía un correo al gmail del estudiante con un formato educativo y su solicitud",
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "Certificado generado  ",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        80,
        -64
      ],
      "id": "06cb3cb5-5a4c-4cb0-9171-073417a7ef81",
      "name": "enviarcorreo_estudiante",
      "webhookId": "7f582f30-88e2-4275-bd0e-c914d0f4abf2",
      "credentials": {
        "gmailOAuth2": {
          "id": "NWnZtBVDTjMc6DbI",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get a row in Supabase",
        "operation": "get",
        "tableId": "tipo_certificados",
        "filters": {
          "conditions": [
            {
              "keyName": "plantilla_url",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -112,
        80
      ],
      "id": "d32afddd-5ff5-4579-90b3-42b0e2473eb6",
      "name": "tipo_certificados",
      "credentials": {
        "supabaseApi": {
          "id": "30TaetHKdUj4ZELI",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        400,
        -288
      ],
      "id": "fd52bd00-a248-4d21-8970-f58112d36217",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pdfshift.io/v3/convert/pdf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic sk_880d2c9d4e78c4c9e38875c34a6f2ad61d1bc979"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"source\": \"https://bsrmkujbkeshlnrgtkpk.supabase.co/storage/v1/object/public/certificados/certificado_asistencia.html\",\n  \"landscape\": false,\n  \"use_print\": true\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "=data"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        160,
        -288
      ],
      "id": "c43baf51-4655-4ca1-8795-421d3d61539f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "content": "## WebHook\nPara hacer la solicitud desde una página web",
        "height": 224,
        "width": 166,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -512,
        -400
      ],
      "typeVersion": 1,
      "id": "04e329b4-6624-4900-99f3-b84dc57f8916",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Agente IA\nEn este agente ubicamos el prompt que es el que va a dar funcionamiento al nodo, incluimos el modelo de OpenAi y Groq como fallback model",
        "height": 208,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -288,
        -448
      ],
      "typeVersion": 1,
      "id": "cda70050-bb27-497c-b9c5-71735437f035",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## BD\nPara la base de datos estamos usando postgres y supabase como herramienta,\npara poder validar a los estudiantes en verificar_estudiantes y el tipo de certificado que necesitan en tipo_certificados",
        "height": 224,
        "width": 256,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -464,
        64
      ],
      "typeVersion": 1,
      "id": "14b53fcb-cce9-477e-b47d-43f09f48242b",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Herramienta para trasnformar de HTML a PDF\nUsamos el API de PDFShift para poder realizar la conversión de las plantillas de certificados de html a pdf",
        "height": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        32,
        -496
      ],
      "typeVersion": 1,
      "id": "6f308bb6-690d-42db-a4c2-4ae6dbeec526",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Enviar correo al estudiante\nEsta herramienta enviará el certificado ya en formato PDF al estudiante que realizó la solicitud de cualquiera de los 5 certificados",
        "height": 192,
        "width": 256,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        208,
        -64
      ],
      "typeVersion": 1,
      "id": "c11e0a49-d005-4ce3-b9b9-e566680769c8",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Respond to Webhook\nFinalmente este nodo nos envía  una respuesta HTTP inmediata a una solicitud entrante que ha activado un webhook en un flujo de automatización, culminando así con el flujo.",
        "height": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        352,
        -496
      ],
      "typeVersion": 1,
      "id": "fa877475-ec67-49d9-953c-fe35e2a66928",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "outputFormat": "pdf",
        "additionalOptions": "="
      },
      "type": "@cloudconvert/n8n-nodes-cloudconvert.cloudConvert",
      "typeVersion": 1,
      "position": [
        560,
        -96
      ],
      "id": "d0d5c68e-5081-4811-ab80-0ae0df5101c0",
      "name": "CloudConvert",
      "credentials": {
        "cloudConvertOAuth2Api": {
          "id": "ntci4gdgWPagYrbR",
          "name": "CloudConvert account"
        }
      },
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Test-1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "verificar_estudiantes": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "enviarcorreo_estudiante": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tipo_certificados": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CloudConvert": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a5c2fc32-16f5-400f-9efe-8a7401b5184f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "685b915a403a6542bfdc78e03bd5483b1e1da97b0978689f29881ac70bc0c3b2"
  },
  "id": "5mZ2X0uGFvSDijl5",
  "tags": []
}